
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h1>Waiter Availability</h1>

  <body>
    <br>
<form class="" action="/days" method="post">
  {{day1}}
  {{day2}}
  {{day3}}
  {{day4}}
  {{day5}}
  {{day6}}
  {{day7}}
</form>




  </body>
</html>
